@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Styles globaux --- */
body {
  background-image: url('/images/windows3Dfinal.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.desktop {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* empêche le contenu d’agrandir le bureau */
}

.infos {
  display: flex;
}

.desktop-folders {
  display: flex ;
  justify-content: space-between;
  flex-wrap: wrap
}


/* --- Reset --- */
@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }
}

/* --- Composants custom --- */
@layer components {
  /* Bureau */
  .desktop {
    @apply w-full h-full relative p-4;
  }

  .desktop-folders {
    @apply flex gap-4;
  }

  /* Fenêtres (iframe) */
  .doc-frame {
    @apply w-[400px] h-[600px] border-none;
  }

  .doc-frame-large {
    @apply w-[800px] h-[500px] border-none;
  }

  /* Fenêtre réseaux */
  .contact-window {
    @apply text-white flex flex-col items-center cursor-pointer;
  }
.contact-window span {
  margin-bottom: -1rem; /* ou 0 si tu veux collé */
}

.contact-icons {
  @apply flex gap-4 mt-0 p-4;
}

  .img-contact {
    @apply w-12 h-12 object-contain transition-transform duration-200 hover:scale-110;
  }
}
