/* SplashScreen.css */

.splashscreen {
  width: 100vw;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Vidéo centrée par défaut */
.splashscreen video {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  margin-top: auto;
}

/* Mobile */
@media (max-width: 600px) {

  .splashscreen video {
    width: 100%;
    height: auto;
    max-height: 40vh; /* limite la hauteur à 40% de l’écran */
    margin-bottom: 0;
    margin-top: auto; /* petit espace avec le bas */
  }
}

/* ---------- 📲 Tablette ---------- */
@media (min-width: 601px) and (max-width: 1024px) {
 .splashscreen {
    align-items: flex-end; /* pousse la vidéo en bas */
  }

  .splashscreen video {
    width: 100%;
    height: auto;
    max-height: 40vh; /* limite la hauteur à 40% de l’écran */
    margin-bottom: 0rem; /* petit espace avec le bas */
  }
}
