/* SplashScreen.css */

.splashscreen {
  height: 100vh;             /* plein écran vertical */
  width: 100vw;              /* plein écran horizontal */
  position: relative;
  overflow: hidden;
  background-color: black;
  cursor: pointer;           /* clic pour skip */
}

.splashscreen video {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  max-height: 100vh;
}

