.window-container {
  background-color: #e0e0e0;
  border: 2px solid #4b4b4b;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: fit-content;          /* limite pour éviter que ça dépasse l’écran */
  width: fit-content;   
  
}

.window-content {
  overflow: auto;        /* scroll si besoin */
  background-color: white;
  border-top: 2px solid #676b81;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  background-color: #454964; 
  padding: 0.25rem 0.5rem;
}

.window-header h2 {
  color: white;
  font-weight: bold;
  font-size: 0.875rem;
}

.window-header button {
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.1rem 0.25rem;
  background-color: #cc0000; /* rouge fermeture */
  border: 1px solid #787d9c;
}

.window-header button:hover {
  background-color: #aa0000;
}

.window-wrapper {
  position: absolute; /* sort du flux */
  z-index: 100;       /* passe au-dessus du perso */
}

.doc-image {
  max-width: 800px;
  max-height: auto;
  object-fit: contain; /* garde les proportions */
  display: block;
}

.doc-imageportrait {
  width: auto;        /* largeur s’adapte à la hauteur */
  max-width: 400px;   /* limite sur grand écran */
  height: 580px;      /* hauteur portrait */
  object-fit: contain; 
  display: block;
  margin: 0 auto;     /* centre horizontalement */
}

.doc-imagepdf {    /* occupe toute la largeur disponible */
  width: 800px;  /* limite largeur si besoin */
  height: 600px;     /* hauteur fixe */
  border: none;      /* supprime les bordures de l'iframe */
  display: block;
  margin: 0 auto; 
}

/* ---------- 📱 Mobile ---------- */
@media (max-width: 600px) {
  .window-container {
    max-width: 100vw;
    max-height: 100vh;
  }

  .doc-image,
  .doc-imageportrait,
  .doc-imagepdf {
    max-width: 100%;
  }

  .doc-imagepdf {
    height: 50vh;
  }
  
  .window-header button {
  z-index: 10; /* doit être au-dessus */
  touch-action: manipulation; /* aide sur mobile */
}


}
/* ---------- 📲 Tablette ---------- */
@media (min-width: 601px) and (max-width: 1024px) {
  .window-container {
    max-width: 100vw;
    max-height: 100vh;
  }

  .doc-imagepdf {
    height: 55vh;
  }
  .window-header button {
  z-index: 10; /* doit être au-dessus */
  touch-action: manipulation; /* aide sur mobile */
}

 
}
